<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>
  <meta charset="utf-8">
  <title>NODEJS | MONGODB</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="author" content="">


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="public/stylesheets/style.css">
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  <script src="public/bower_components/jquery/jquery.min.js"></script>

</head>

<body ng-app="cptv1" >

        <div class="col-md-12">
          <div class="row" style="margin-bottom:15px">
            
          </div>
          <div class="col-md-2">
               <div class="list-group">
              <a href="#" class="list-group-item active">
                Dashboard
              </a>
              <a ui-sref="dashboard" class="list-group-item">Home</a>
              <a ui-sref="profile" class="list-group-item">Profile</a>
              <a ui-sref="resources" class="list-group-item">Resources</a>
              <a ui-sref="deliverables" class="list-group-item">Deliverables</a>
              <a ui-sref="supportcases" class="list-group-item">Support Cases</a>
            </div>
          </div>
          <div data-ui-view>
            
          </div>
    </div>
    

    
  <script src="public/bower_components/angular/angular.js"></script>
  <script src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script src="public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="public/bower_components/bootstrap/js/collapse.js"></script>

  <script src="public/js/app/app.js"></script>
  <script src="public/js/controller/controller.js"></script>
  <script src="public/js/services/services.js"></script>
</body>

</html>
